body {
    font-family: 'system-ui';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/**/
.header {
    background-color: #1f2937;
    color: white;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    
}

.headerlogo {
    font-size: 24px;
    
}

.headerlogo {
    display: flex;
    justify-content: center;
    gap: 500px;
}



.subheader {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf9;
    background-color: #1f2937;
    margin: 0;
}

.subheader {
    align-self: center;
}

/**/


/**/
.bodyone {
    display: flex;
    justify-content: center;
    

}

.boxone,
.boxtwo,
.boxthree,
.boxfour {
    width: 60px;
    padding: 60px;
    border: 10px;
    border-style: solid;
    border-color: blue;
    margin: 16px;
}

/**/

/**/
.bodytwo {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
    padding: 100px;
}

.bodytwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/